{% extends "base.jinja2" %}

{# Input vars:
title: header for the page
encounters: list of raw html for each encounter
#}

{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}

    {% for encounter in encounters %}
        {{ encounter }}
    {% endfor %}

{% endblock content %}
